//
// Base styles
// --------------------------------------------------

// Use box sizing on all the things!

$control-height: 36px;
$control-border-width: 0;
$control-scroll-height: 10px;
$control-scroll-pointer-width: 18px;
$control-scroll-pointer-height: 18px;
$control-btn-width: 40px; //48px
$control-btn-border-left: 1px solid #3A3A3A;
$control-btn-border-right: 1px solid #3A3A3A;
$control-btn-background-size: 32px 32px;

.#{$namespace}-hidden {
	display:none;
}

.#{$namespace}-container *{ 
	margin:0;
	padding:0;
	outline:none;
}

.#{$namespace}-renderer{ 
	position: absolute;
	top:0;
	bottom: $control-height;
	left:0;
	width:100%;
}

// control
.#{$namespace}-control{
	position: absolute;
	bottom: 0;
	left:0;
	width: 100%;
	height: $control-height;
	background-color: $color-control;
	
	@include clearfix();
}

// control-scroll
.#{$namespace}-control-scroll{ 
	position: absolute;
	top: - $control-scroll-height;
	left: 0;
	width: 100%;
	height: $control-scroll-height;
}
.#{$namespace}-control-scroll-touch{ 
	position: absolute; 
	z-index: z("scroll", "touch");
	bottom: 0;
	width: 100%; 
	height: 200%;
}
.#{$namespace}-control-scroll-pointer{ 
	position:absolute;
	z-index: z("scroll", "pointer");
	top: 0;
	left: 0;
	margin: #{-($control-scroll-pointer-height - $control-scroll-height)/2} 0 0 #{-$control-scroll-pointer-width/2}; 
	width: $control-scroll-pointer-width; 
	height: $control-scroll-pointer-height; 
	@include btnImage(imageUrl($image-scroll-pointer));
}
.#{$namespace}-control-scroll-bg{ 
	width: 100%; 
	height: 100%; 
	background-color: $color-control-scroll-bg;
}
.#{$namespace}-control-scroll-bg1{ 
	position: absolute; 
	top:0; 
	left:0; 
	width: 0; 
	height: 100%; 
	z-index: z("scroll", "bg1");
	background-color: $color-control-scroll-bg1;
}
.#{$namespace}-control-scroll-bg2{ 
	position: absolute; 
	top:0; 
	left:0; 
	width: 0; 
	height: 100%; 
	z-index: z("scroll", "bg2");
	background-color: $color-control-scroll-bg2;
}

// control-bar
.#{$namespace}-control-btn-play,
.#{$namespace}-control-btn-volume,
.#{$namespace}-control-btn-swipe,
.#{$namespace}-control-btn-view,
.#{$namespace}-control-btn-fullscreen{
	@include btn();
	@include btnImage();
	background-size: $control-btn-background-size;
	width: $control-btn-width; 
	height:100%;
}
.#{$namespace}-control-btn-play{ 
	float:left; 
	border-right: $control-btn-border-right;
	background-image: imageUrl($image-btn-play);
	&[pause]{
		background-image: imageUrl($image-btn-play-pause);
	}
}
.#{$namespace}-control-btn-volume{ 
	float: right; 
	border-left: $control-btn-border-left;
}
@for $i from 0 through 3 {
	.#{$namespace}-control-btn-volume[volume="#{$i}"] { 
		background-image: imageUrl(btnVolume($i)); 
	}
}
.#{$namespace}-control-btn-swipe{
	float: right; 
	border-left: $control-btn-border-left;
	&[swipe_type="touch"]{
		background-image: imageUrl($image-btn-swipe-touch);
	}
	&[swipe_type="motion"]{
		background-image: imageUrl($image-btn-swipe-motion);
	}
}
.#{$namespace}-control-btn-view{
	float: right; 
	border-left: $control-btn-border-left;
	&[view_type="fm"]{
		background-image: imageUrl($image-btn-view-fm);
	}
	&[view_type="vr"]{
		background-image: imageUrl($image-btn-view-vr);
	}
}
.#{$namespace}-control-btn-fullscreen{ 
	float: right; 
	border-left: $control-btn-border-left;
	background-image: imageUrl($image-btn-fullscreen);
}
.#{$namespace}-control-txt-time{ 
	float: left; 
	width:auto; 
	line-height: $control-height - $control-border-width*2; 
}
