//
// Variables
// --------------------------------------------------
$namespace: "video3d" !default;

// Colors
// --------------------------------------------------
$color-control: rgba(31,31,31,0.8) !default;
$color-control-scroll-bg: #3A3A3A !default;
$color-control-scroll-bg1: #efefef !default;
$color-control-scroll-bg2: #3B8BC4 !default;


// Image Url
// --------------------------------------------------
$image-dir: "icons/" !default;
$image-ext: "png";
$image-scroll-pointer: "spointer.png";
$image-btn-play: "vplay.png";
$image-btn-play-pause: "vstop.png";
$image-btn-volume: "volume";
$image-btn-swipe-touch: "vdrag2.png";
$image-btn-swipe-motion: "vdrag1.png";
$image-btn-view-fm: "viewport1.png";
$image-btn-view-vr: "viewport2.png";
$image-btn-fullscreen: "vfullscreen1.png";



// Type
// --------------------------------------------------
$font-family-default: "Helvetica Neue", Helvetica, sans-serif !default;
$font-size-default: 17px !default;
$font-weight: 500 !default;
$font-weight-light: 400 !default;
$line-height-default: 21px !default;


